<div class="widget">
    <form name="login-form" id="login-form">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" id="email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
        </div>
        <div class="form-submit">
            <input type="submit" value="Login"/>
            <div>
                or <a href="/users/create">Create an account</a>
            </div>
        </div>
    </form>
</div>